<settings>
    <setting id="disableosdinfoonpause" type="bool">false</setting>
    <setting id="windowclosingicon" type="bool">false</setting>
    <setting id="enableclearart" type="bool">false</setting>
    <setting id="disablepauseiconosd" type="bool">false</setting>
    <setting id="plexbmc" type="bool">false</setting>
    <setting id="enablecdart" type="bool">false</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="enableclearlogo" type="bool">false</setting>
    <setting id="disableslidinganimations" type="bool">false</setting>
    <setting id="blackglassmode" type="bool">false</setting>
    <setting id="highlighted.color.custom" type="bool">false</setting>
    <setting id="fullscreenmusic" type="bool">false</setting>
    <setting id="enableextrafanart" type="bool">false</setting>
    <setting id="kenburnseffect" type="bool">false</setting>
    <setting id="disablefanart" type="bool">false</setting>
    <setting id="default.background.enablerandomfanart" type="bool">false</setting>
    <setting id="tvshows.background.enablerandomfanart" type="bool">false</setting>
    <setting id="music.background.enablerandomfanart" type="bool">false</setting>
    <setting id="pictures.background.enablerandomfanart" type="bool">false</setting>
    <setting id="musicplayingfanart" type="bool">false</setting>
    <setting id="home_defaultbg" type="bool">false</setting>
    <setting id="musicvideos.background.enablerandomfanart" type="bool">false</setting>
    <setting id="overlay.color.custom" type="bool">false</setting>
    <setting id="scrolloffsetlabelenabled" type="bool">false</setting>
    <setting id="movies.background.enablerandomfanart" type="bool">false</setting>
    <setting id="widgetepisodeposter" type="bool">false</setting>
    <setting id="53_biggrid" type="bool">false</setting>
    <setting id="verticalhome" type="bool">false</setting>
    <setting id="enablestudioart" type="bool">false</setting>
    <setting id="manualscroll" type="bool">false</setting>
    <setting id="55_usebanners" type="bool">false</setting>
    <setting id="show_player" type="bool">false</setting>
    <setting id="hide_watched_marks" type="bool">false</setting>
    <setting id="hide_unwatched_marks" type="bool">false</setting>
    <setting id="53_usebanners" type="bool">false</setting>
    <setting id="videos.background.enablerandomfanart" type="bool">false</setting>
    <setting id="fixedshortlistunknown" type="bool">false</setting>
    <setting id="skinshortcuts-background-TVShows.Art" type="bool">true</setting>
    <setting id="skinshortcuts-widget-recommendedepisodes" type="bool">true</setting>
    <setting id="skinshortcuts-background-Movies.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Clips.Art" type="bool">true</setting>
    <setting id="music_gallery" type="bool">false</setting>
    <setting id="startupdelay1" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recommendedmusicvideos" type="bool">true</setting>
    <setting id="skinshortcuts-background-Concerts.Art" type="bool">true</setting>
    <setting id="skinshortcuts-widget-recommendedmovies" type="bool">true</setting>
    <setting id="startupdelay0" type="bool">false</setting>
    <setting id="startupdelay2" type="bool">false</setting>
    <setting id="fixed_homemenu" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">true</setting>
    <setting id="disabledefaultsplash" type="bool">false</setting>
    <setting id="episodes_gallery" type="bool">false</setting>
    <setting id="startupdelay3" type="bool">false</setting>
    <setting id="startupdelay10" type="bool">false</setting>
    <setting id="hide.recentlyadded" type="bool">false</setting>
    <setting id="enablekioskmode" type="bool">false</setting>
    <setting id="startupdelay5" type="bool">false</setting>
    <setting id="posters_gallery" type="bool">false</setting>
    <setting id="disablewidgetlimit" type="bool">false</setting>
    <setting id="hide.favourites" type="bool">false</setting>
    <setting id="stopplaybackonmenu" type="bool">false</setting>
    <setting id="startup-playlist" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="skinshortcuts-widget-radiorecordings" type="bool">true</setting>
    <setting id="skinshortcuts-widget-tvrecordings" type="bool">true</setting>
    <setting id="skinshortcuts-background-Games.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Weather.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Pictures.Art" type="bool">true</setting>
    <setting id="skinshortcuts-widget-recentlyplayedalbums" type="bool">true</setting>
    <setting id="skinshortcuts-background-Favourites.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Radio.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-DVD.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Quit.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Search.Art" type="bool">true</setting>
    <setting id="skinshortcuts-widget-gamesaddons" type="bool">true</setting>
    <setting id="skinshortcuts-widget-videoaddons" type="bool">true</setting>
    <setting id="skinshortcuts-background-Tv.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Addons.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Settings.Art" type="bool">true</setting>
    <setting id="tmdbhelper.service" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="addons.hide" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="weatherartpath" type="string"></setting>
    <setting id="movies.background" type="string"></setting>
    <setting id="weatherfanartart.name" type="string"></setting>
    <setting id="pictures.background" type="string"></setting>
    <setting id="tvshows.background" type="string"></setting>
    <setting id="tv.background" type="string"></setting>
    <setting id="music.background" type="string"></setting>
    <setting id="WeatherFanartArt.path" type="string"></setting>
    <setting id="videos.background" type="string"></setting>
    <setting id="radio.background" type="string"></setting>
    <setting id="pickedcolor.highlight" type="string"></setting>
    <setting id="default.background" type="string"></setting>
    <setting id="games.background" type="string"></setting>
    <setting id="dvd.background" type="string"></setting>
    <setting id="search.background" type="string"></setting>
    <setting id="addons.background" type="string"></setting>
    <setting id="startup-musicplaylistpath" type="string"></setting>
    <setting id="customstartup.path" type="string"></setting>
    <setting id="pickedcolor.overlay" type="string"></setting>
    <setting id="startup-screentype" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">recommendedmovies</setting>
    <setting id="weather.background" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">radiorecordings</setting>
    <setting id="studioart.name" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">recentlyplayedalbums</setting>
    <setting id="skinshortcuts-widget-9" type="string">gamesaddons</setting>
    <setting id="skinshortcuts-widget-3" type="string">recommendedmusicvideos</setting>
    <setting id="weathertype" type="string"></setting>
    <setting id="settings.background" type="string"></setting>
    <setting id="StudioArt.path" type="string"></setting>
    <setting id="startup-multiimagepath" type="string"></setting>
    <setting id="skinhelper.randomfanartdelay" type="string">9</setting>
    <setting id="skinshortcuts-widget-6" type="string">tvrecordings</setting>
    <setting id="clips.background" type="string"></setting>
    <setting id="startup-videoplaylistpath" type="string"></setting>
    <setting id="skinshortcuts-widget-8" type="string">videoaddons</setting>
    <setting id="quit.background" type="string"></setting>
    <setting id="startup-videopath" type="string"></setting>
    <setting id="startup-imagepath" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="startupwindow" type="string"></setting>
    <setting id="startupwindowoption" type="string"></setting>
    <setting id="favourites.background" type="string"></setting>
    <setting id="concerts.background" type="string"></setting>
    <setting id="labelart.name" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">recommendedmusicvideos</setting>
    <setting id="LabelArt.path" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">recommendedepisodes</setting>
    <setting id="TMDbHelper.AutoUpdate.LastTime" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
</settings>
