<settings>
    <setting id="usecustombackground" type="bool">false</setting>
    <setting id="alwaysshowmusicinfo" type="bool">false</setting>
    <setting id="showbackgroundvideo" type="bool">false</setting>
    <setting id="homemenunomoviebutton" type="bool">false</setting>
    <setting id="homepageweatherinfo" type="bool">false</setting>
    <setting id="hidevisualizationfanart" type="bool">false</setting>
    <setting id="musicfullscreen" type="bool">false</setting>
    <setting id="showbackgroundvis" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="homemenunotvshowbutton" type="bool">false</setting>
    <setting id="activatetvtunes" type="bool">false</setting>
    <setting id="randomizebackground" type="bool">false</setting>
    <setting id="disableartistslideshow" type="bool">false</setting>
    <setting id="stopvideoonback" type="bool">false</setting>
    <setting id="hidefilenameflagging" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="hidebackgroundfanart" type="bool">false</setting>
    <setting id="use_startup_playlist" type="bool">false</setting>
    <setting id="usemaskedbackground" type="bool">false</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="homepagevideoinfo" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">true</setting>
    <setting id="autohidehomepagesubmenu" type="bool">false</setting>
    <setting id="hidewindowedtrailer" type="bool">false</setting>
    <setting id="show_slideshow_paused" type="bool">false</setting>
    <setting id="homepagemusicinfo" type="bool">false</setting>
    <setting id="HomeProgramButton5" type="string"></setting>
    <setting id="HomeVideosButton2" type="string"></setting>
    <setting id="HomePictureButton2" type="string"></setting>
    <setting id="color.border" type="string">FF555555</setting>
    <setting id="HomePictureButton1" type="string"></setting>
    <setting id="HomeVideosButton5" type="string"></setting>
    <setting id="Home_Custom_Back_TV_Folder" type="string"></setting>
    <setting id="HomeProgramButton1" type="string"></setting>
    <setting id="HomeProgramButton3" type="string"></setting>
    <setting id="HomePictureButton3" type="string"></setting>
    <setting id="HomeVideosButton3" type="string"></setting>
    <setting id="color.500" type="string">FF3F51B5</setting>
    <setting id="HomeProgramButton6" type="string"></setting>
    <setting id="color.primary" type="string">FF4BBEFC</setting>
    <setting id="HomeProgramButton2" type="string"></setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="backgroundswitchdelay" type="string"></setting>
    <setting id="HomeMusicButton1" type="string"></setting>
    <setting id="color.900" type="string">FF1C2688</setting>
    <setting id="color.disabled" type="string">AA606060</setting>
    <setting id="HomeMusicButton5" type="string"></setting>
    <setting id="HomeVideosButton1" type="string"></setting>
    <setting id="HomeVideosButton4" type="string"></setting>
    <setting id="HomeMusicButton2" type="string"></setting>
    <setting id="color.text" type="string">FFEEEEEE</setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="color.tertiary" type="string">FF444444</setting>
    <setting id="skinshortcut.backgroundpath" type="string"></setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="HomeMusicButton3" type="string"></setting>
    <setting id="HomeProgramButton4" type="string"></setting>
    <setting id="custombackgroundpath" type="string"></setting>
    <setting id="color.400" type="string">FF5C6BC0</setting>
    <setting id="color.alt" type="string">FFFFEB3B</setting>
    <setting id="HomeMusicButton4" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
</settings>
