<settings>
    <setting id="mousearrow" type="bool">false</setting>
    <setting id="artistslideshow_artistinfos_similar" type="bool">false</setting>
    <setting id="pause_light" type="bool">false</setting>
    <setting id="background_dim_2" type="bool">false</setting>
    <setting id="color_green" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="artistslideshow_artistinfos_albums" type="bool">false</setting>
    <setting id="coverwallfull" type="bool">false</setting>
    <setting id="background_dim_3" type="bool">false</setting>
    <setting id="navinfo" type="bool">true</setting>
    <setting id="cdart_glass" type="bool">false</setting>
    <setting id="color_custom" type="bool">false</setting>
    <setting id="batterylevel" type="bool">false</setting>
    <setting id="color_grey" type="bool">false</setting>
    <setting id="color_selectedhome" type="bool">false</setting>
    <setting id="background_dim_1" type="bool">true</setting>
    <setting id="color_blue" type="bool">false</setting>
    <setting id="color_orange" type="bool">false</setting>
    <setting id="animation" type="bool">true</setting>
    <setting id="backgroundvideo" type="bool">true</setting>
    <setting id="color_selected" type="bool">false</setting>
    <setting id="color_red" type="bool">true</setting>
    <setting id="pause_light_hideinfos" type="bool">false</setting>
    <setting id="enableextendedart" type="bool">true</setting>
    <setting id="color_darkgold" type="bool">false</setting>
    <setting id="nodate" type="bool">true</setting>
    <setting id="artistslideshow_artistinfos_bio" type="bool">false</setting>
    <setting id="use_startup_playlist" type="bool">false</setting>
    <setting id="favdashboard" type="bool">false</setting>
    <setting id="gambit_background" type="bool">false</setting>
    <setting id="weatherfanarthome" type="bool">false</setting>
    <setting id="onlyone" type="bool">false</setting>
    <setting id="showbackgroundvis" type="bool">false</setting>
    <setting id="fanart" type="bool">true</setting>
    <setting id="homefanartdiashow" type="bool">false</setting>
    <setting id="backgrounddiffuseoverlay" type="bool">false</setting>
    <setting id="playlist" type="bool">true</setting>
    <setting id="widget_livetvhighlights" type="bool">false</setting>
    <setting id="altnowplaying" type="bool">false</setting>
    <setting id="widgetnopercentplayedbar" type="bool">false</setting>
    <setting id="widgetdim" type="bool">true</setting>
    <setting id="widget_inprogress_movie_place1" type="bool">false</setting>
    <setting id="widget_inprogress_tvshow_place1" type="bool">false</setting>
    <setting id="widget_inprogress_musicvideo_place1" type="bool">false</setting>
    <setting id="widget_inprogress_music_place1" type="bool">false</setting>
    <setting id="widget_randomalbums" type="bool">false</setting>
    <setting id="home_music_button" type="bool">false</setting>
    <setting id="widget_randomsongs" type="bool">false</setting>
    <setting id="widget_recentalbums" type="bool">false</setting>
    <setting id="widget_recommendedalbums" type="bool">false</setting>
    <setting id="homewidget_music_standard" type="bool">false</setting>
    <setting id="homewidget_music_user" type="bool">false</setting>
    <setting id="widget_sources" type="bool">false</setting>
    <setting id="home_video_button" type="bool">false</setting>
    <setting id="widget_videoplaylists" type="bool">false</setting>
    <setting id="homewidget_video_standard" type="bool">false</setting>
    <setting id="homewidget_video_user" type="bool">false</setting>
    <setting id="widget_recommendedmovies" type="bool">false</setting>
    <setting id="home_movie_button" type="bool">false</setting>
    <setting id="widget_randommovies" type="bool">false</setting>
    <setting id="widget_recentmovies" type="bool">false</setting>
    <setting id="homewidget_movie_standard" type="bool">false</setting>
    <setting id="homewidget_movie_user" type="bool">false</setting>
    <setting id="widget_recommendedtvshows" type="bool">false</setting>
    <setting id="home_tvshow_button" type="bool">false</setting>
    <setting id="home_seriesbutton" type="bool">false</setting>
    <setting id="widget_recenttvshows" type="bool">false</setting>
    <setting id="widget_recenttvshows_episodes" type="bool">false</setting>
    <setting id="widget_randomtvshows" type="bool">false</setting>
    <setting id="homewidget_tvshow_standard" type="bool">false</setting>
    <setting id="homewidget_tvshow_user" type="bool">false</setting>
    <setting id="widget_recommendedmusicvideos" type="bool">false</setting>
    <setting id="widget_randommusicvideos" type="bool">false</setting>
    <setting id="widget_recentmusicvideos" type="bool">false</setting>
    <setting id="homewidget_musicvideo_standard" type="bool">false</setting>
    <setting id="homewidget_musicvideo_user" type="bool">false</setting>
    <setting id="home_musicvideo_button" type="bool">false</setting>
    <setting id="widget_diashow" type="bool">false</setting>
    <setting id="home_picture_button" type="bool">false</setting>
    <setting id="homewidget_picture_standard" type="bool">false</setting>
    <setting id="homewidget_picture_user" type="bool">false</setting>
    <setting id="homeweatherwidgettoday" type="bool">false</setting>
    <setting id="homeweatherwidgetfull" type="bool">false</setting>
    <setting id="widget_dvdlabel" type="bool">false</setting>
    <setting id="homewidget_custom1_standard" type="bool">false</setting>
    <setting id="homewidget_custom1_user" type="bool">false</setting>
    <setting id="home_custom1_button" type="bool">false</setting>
    <setting id="homewidget_custom2_standard" type="bool">false</setting>
    <setting id="homewidget_custom2_user" type="bool">false</setting>
    <setting id="home_custom2_button" type="bool">false</setting>
    <setting id="homewidget_custom3_standard" type="bool">false</setting>
    <setting id="homewidget_custom3_user" type="bool">false</setting>
    <setting id="home_custom3_button" type="bool">false</setting>
    <setting id="homewidget_custom4_standard" type="bool">false</setting>
    <setting id="homewidget_custom4_user" type="bool">false</setting>
    <setting id="home_custom4_button" type="bool">false</setting>
    <setting id="homewidget_custom5_standard" type="bool">false</setting>
    <setting id="homewidget_custom5_user" type="bool">false</setting>
    <setting id="home_custom5_button" type="bool">false</setting>
    <setting id="homewidget_custom6_standard" type="bool">false</setting>
    <setting id="homewidget_custom6_user" type="bool">false</setting>
    <setting id="home_custom6_button" type="bool">false</setting>
    <setting id="homewidget_custom7_standard" type="bool">false</setting>
    <setting id="homewidget_custom7_user" type="bool">false</setting>
    <setting id="home_custom7_button" type="bool">false</setting>
    <setting id="homewidget_custom8_standard" type="bool">false</setting>
    <setting id="homewidget_custom8_user" type="bool">false</setting>
    <setting id="home_custom8_button" type="bool">false</setting>
    <setting id="homewidget_custom9_standard" type="bool">false</setting>
    <setting id="homewidget_custom9_user" type="bool">false</setting>
    <setting id="home_custom9_button" type="bool">false</setting>
    <setting id="widget_pvr_flat" type="bool">false</setting>
    <setting id="widget_recordings" type="bool">false</setting>
    <setting id="widget_pvrtimers" type="bool">false</setting>
    <setting id="widget_livetvwidgetchannels" type="bool">false</setting>
    <setting id="widget_livetvwidgetchannels_inprogress" type="bool">false</setting>
    <setting id="widget_pvr_radio_widgetchannels" type="bool">false</setting>
    <setting id="widget_systeminfo" type="bool">false</setting>
    <setting id="widget_lastusedgames" type="bool">false</setting>
    <setting id="home_games_button" type="bool">false</setting>
    <setting id="homewidget_games_standard" type="bool">false</setting>
    <setting id="homewidget_games_user" type="bool">false</setting>
    <setting id="row5_off" type="bool">true</setting>
    <setting id="row4_off" type="bool">true</setting>
    <setting id="row3_off" type="bool">true</setting>
    <setting id="row2_off" type="bool">true</setting>
    <setting id="widgetdimdashrows" type="bool">false</setting>
    <setting id="row5_weather" type="bool">false</setting>
    <setting id="row5_gto" type="bool">false</setting>
    <setting id="row5_path" type="bool">false</setting>
    <setting id="row5_fav" type="bool">false</setting>
    <setting id="row5_fritzact" type="bool">false</setting>
    <setting id="row4_weather" type="bool">false</setting>
    <setting id="row4_gto" type="bool">false</setting>
    <setting id="row4_path" type="bool">false</setting>
    <setting id="row4_fav" type="bool">false</setting>
    <setting id="row4_fritzact" type="bool">false</setting>
    <setting id="row3_weather" type="bool">false</setting>
    <setting id="row3_gto" type="bool">false</setting>
    <setting id="row3_path" type="bool">false</setting>
    <setting id="row3_fav" type="bool">false</setting>
    <setting id="row3_fritzact" type="bool">false</setting>
    <setting id="row2_weather" type="bool">false</setting>
    <setting id="row2_gto" type="bool">false</setting>
    <setting id="row2_path" type="bool">false</setting>
    <setting id="row2_fav" type="bool">false</setting>
    <setting id="row2_fritzact" type="bool">false</setting>
    <setting id="hideplayercontrolshome" type="bool">false</setting>
    <setting id="statistic" type="bool">false</setting>
    <setting id="hide_central" type="bool">false</setting>
    <setting id="hide_fav" type="bool">false</setting>
    <setting id="hidewolhome" type="bool">false</setting>
    <setting id="homepagenoweatherinfo" type="bool">false</setting>
    <setting id="profilname" type="bool">false</setting>
    <setting id="neonslide" type="bool">false</setting>
    <setting id="standard_bkg" type="bool">true</setting>
    <setting id="avengers_sw" type="bool">false</setting>
    <setting id="homemenunomusicbutton" type="bool">false</setting>
    <setting id="home_music_custom_category_music" type="bool">false</setting>
    <setting id="home_music_custom_category_video" type="bool">false</setting>
    <setting id="home_music_custom_category_pictures" type="bool">false</setting>
    <setting id="home_music_custom_category_file" type="bool">false</setting>
    <setting id="home_music_custom_category_games" type="bool">false</setting>
    <setting id="homemenunovideosbutton" type="bool">false</setting>
    <setting id="home_video_custom_category_video" type="bool">false</setting>
    <setting id="home_video_custom_category_music" type="bool">false</setting>
    <setting id="home_video_custom_category_pictures" type="bool">false</setting>
    <setting id="home_video_custom_category_file" type="bool">false</setting>
    <setting id="home_video_custom_category_games" type="bool">false</setting>
    <setting id="homemenunomoviebutton" type="bool">false</setting>
    <setting id="home_movie_custom_category_video" type="bool">false</setting>
    <setting id="home_movie_custom_category_music" type="bool">false</setting>
    <setting id="home_movie_custom_category_pictures" type="bool">false</setting>
    <setting id="home_movie_custom_category_file" type="bool">false</setting>
    <setting id="home_movie_custom_category_games" type="bool">false</setting>
    <setting id="homemenunodashboardbutton" type="bool">false</setting>
    <setting id="homemenunotvshowbutton" type="bool">false</setting>
    <setting id="home_tvshow_custom_category_video" type="bool">false</setting>
    <setting id="home_tvshow_custom_category_music" type="bool">false</setting>
    <setting id="home_tvshow_custom_category_pictures" type="bool">false</setting>
    <setting id="home_tvshow_custom_category_file" type="bool">false</setting>
    <setting id="home_tvshow_custom_category_games" type="bool">false</setting>
    <setting id="homemenunomusicvideos" type="bool">false</setting>
    <setting id="home_musicvideo_custom_category_video" type="bool">false</setting>
    <setting id="home_musicvideo_custom_category_music" type="bool">false</setting>
    <setting id="home_musicvideo_custom_category_pictures" type="bool">false</setting>
    <setting id="home_musicvideo_custom_category_file" type="bool">false</setting>
    <setting id="home_musicvideo_custom_category_games" type="bool">false</setting>
    <setting id="homemenunopicturebutton" type="bool">false</setting>
    <setting id="home_picture_custom_category_video" type="bool">false</setting>
    <setting id="home_picture_custom_category_music" type="bool">false</setting>
    <setting id="home_picture_custom_category_pictures" type="bool">false</setting>
    <setting id="home_picture_custom_category_file" type="bool">false</setting>
    <setting id="home_picture_custom_category_games" type="bool">false</setting>
    <setting id="homemenunoweatherbutton" type="bool">true</setting>
    <setting id="homemenunodvdbutton" type="bool">false</setting>
    <setting id="home_custom1_custom_category_video" type="bool">false</setting>
    <setting id="home_custom1_custom_category_music" type="bool">false</setting>
    <setting id="home_custom1_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom1_custom_category_file" type="bool">false</setting>
    <setting id="home_custom1_custom_category_games" type="bool">false</setting>
    <setting id="home_custom2_custom_category_video" type="bool">false</setting>
    <setting id="home_custom2_custom_category_music" type="bool">false</setting>
    <setting id="home_custom2_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom2_custom_category_file" type="bool">false</setting>
    <setting id="home_custom2_custom_category_games" type="bool">false</setting>
    <setting id="home_custom3_custom_category_video" type="bool">false</setting>
    <setting id="home_custom3_custom_category_music" type="bool">false</setting>
    <setting id="home_custom3_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom3_custom_category_file" type="bool">false</setting>
    <setting id="home_custom3_custom_category_games" type="bool">false</setting>
    <setting id="home_custom4_custom_category_video" type="bool">false</setting>
    <setting id="home_custom4_custom_category_music" type="bool">false</setting>
    <setting id="home_custom4_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom4_custom_category_file" type="bool">false</setting>
    <setting id="home_custom4_custom_category_games" type="bool">false</setting>
    <setting id="home_custom5_custom_category_video" type="bool">false</setting>
    <setting id="home_custom5_custom_category_music" type="bool">false</setting>
    <setting id="home_custom5_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom5_custom_category_file" type="bool">false</setting>
    <setting id="home_custom5_custom_category_games" type="bool">false</setting>
    <setting id="home_custom6_custom_category_video" type="bool">false</setting>
    <setting id="home_custom6_custom_category_music" type="bool">false</setting>
    <setting id="home_custom6_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom6_custom_category_file" type="bool">false</setting>
    <setting id="home_custom6_custom_category_games" type="bool">false</setting>
    <setting id="home_custom7_custom_category_video" type="bool">false</setting>
    <setting id="home_custom7_custom_category_music" type="bool">false</setting>
    <setting id="home_custom7_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom7_custom_category_file" type="bool">false</setting>
    <setting id="home_custom7_custom_category_games" type="bool">false</setting>
    <setting id="home_custom8_custom_category_video" type="bool">false</setting>
    <setting id="home_custom8_custom_category_music" type="bool">false</setting>
    <setting id="home_custom8_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom8_custom_category_file" type="bool">false</setting>
    <setting id="home_custom8_custom_category_games" type="bool">false</setting>
    <setting id="home_custom9_custom_category_video" type="bool">false</setting>
    <setting id="home_custom9_custom_category_music" type="bool">false</setting>
    <setting id="home_custom9_custom_category_pictures" type="bool">false</setting>
    <setting id="home_custom9_custom_category_file" type="bool">false</setting>
    <setting id="home_custom9_custom_category_games" type="bool">false</setting>
    <setting id="homemenunosettingsbutton" type="bool">false</setting>
    <setting id="homemenunopvrbutton" type="bool">false</setting>
    <setting id="homemenunoradiobutton" type="bool">false</setting>
    <setting id="homemenunogamesbutton" type="bool">true</setting>
    <setting id="home_games_custom_category_video" type="bool">false</setting>
    <setting id="home_games_custom_category_music" type="bool">false</setting>
    <setting id="home_games_custom_category_pictures" type="bool">false</setting>
    <setting id="home_games_custom_category_file" type="bool">false</setting>
    <setting id="home_games_custom_category_games" type="bool">false</setting>
    <setting id="submenu_video_nomoviebutton" type="bool">false</setting>
    <setting id="submenu_video_notvshowbutton" type="bool">false</setting>
    <setting id="submenu_video_nomusicvideobutton" type="bool">false</setting>
    <setting id="submenu_video_nolibrarybutton" type="bool">false</setting>
    <setting id="submenu_video_novideoaddonbutton" type="bool">false</setting>
    <setting id="submenu_movie_nosetbutton" type="bool">false</setting>
    <setting id="submenu_movie_notitlebutton" type="bool">false</setting>
    <setting id="submenu_movie_nogenrebutton" type="bool">false</setting>
    <setting id="submenu_movie_noactorbutton" type="bool">false</setting>
    <setting id="submenu_movie_noaddonbutton" type="bool">false</setting>
    <setting id="submenu_tvshow_notitlebutton" type="bool">false</setting>
    <setting id="submenu_tvshow_nogenrebutton" type="bool">false</setting>
    <setting id="submenu_tvshow_noyearbutton" type="bool">false</setting>
    <setting id="submenu_tvshow_noactorbutton" type="bool">false</setting>
    <setting id="submenu_musicvideo_notitlebutton" type="bool">false</setting>
    <setting id="submenu_musicvideo_nogenrebutton" type="bool">false</setting>
    <setting id="submenu_music_nopartymodebutton" type="bool">false</setting>
    <setting id="submenu_music_noartistbutton" type="bool">false</setting>
    <setting id="submenu_music_noalbumbutton" type="bool">false</setting>
    <setting id="submenu_music_nosongsbutton" type="bool">false</setting>
    <setting id="submenu_music_nolibrarybutton" type="bool">false</setting>
    <setting id="submenu_music_noaddonbutton" type="bool">false</setting>
    <setting id="submenu_music_noskinsettingbutton" type="bool">false</setting>
    <setting id="submenu_music_nolibreelecbutton" type="bool">false</setting>
    <setting id="submenu_music_nofilemanagerbutton" type="bool">false</setting>
    <setting id="submenu_music_noprofilebutton" type="bool">false</setting>
    <setting id="submenu_music_nosysteminfobutton" type="bool">false</setting>
    <setting id="firstrun_horizonzv" type="bool">true</setting>
    <setting id="homemenuweatherfadeout" type="bool">false</setting>
    <setting id="HideSysteminfo" type="bool">true</setting>
    <setting id="WindowedTrailer" type="bool">true</setting>
    <setting id="CurrentButtonLabel" type="bool">true</setting>
    <setting id="context_ad" type="bool">true</setting>
    <setting id="context_globalsearch" type="bool">true</setting>
    <setting id="CommonPageCount" type="bool">true</setting>
    <setting id="HideOverlayIconNew" type="bool">true</setting>
    <setting id="hideInfoPanel" type="bool">true</setting>
    <setting id="CoverDim" type="bool">true</setting>
    <setting id="systemlevel_set" type="bool">true</setting>
    <setting id="rated_de" type="bool">true</setting>
    <setting id="bigplottext" type="bool">false</setting>
    <setting id="studiologos.path" type="string"></setting>
    <setting id="CustomColor" type="string"></setting>
    <setting id="start_volume" type="string"></setting>
    <setting id="homemenuitemmusic" type="string"></setting>
    <setting id="homemenuitemvideo" type="string"></setting>
    <setting id="homemenuitemmovie" type="string"></setting>
    <setting id="homemenuitemdashboard" type="string"></setting>
    <setting id="homemenuitemtvshows" type="string"></setting>
    <setting id="homemenuitemmusicvideos" type="string"></setting>
    <setting id="homemenuitempictures" type="string"></setting>
    <setting id="homemenuitemweather" type="string"></setting>
    <setting id="homemenuitemplaydisc" type="string"></setting>
    <setting id="homemenuitemcustom1" type="string"></setting>
    <setting id="homemenuitemcustom2" type="string"></setting>
    <setting id="homemenuitemcustom3" type="string"></setting>
    <setting id="homemenuitemcustom4" type="string"></setting>
    <setting id="homemenuitemcustom5" type="string"></setting>
    <setting id="homemenuitemcustom6" type="string"></setting>
    <setting id="homemenuitemcustom7" type="string"></setting>
    <setting id="homemenuitemcustom8" type="string"></setting>
    <setting id="homemenuitemcustom9" type="string"></setting>
    <setting id="homemenuitemsettings" type="string"></setting>
    <setting id="homemenuitempvr" type="string"></setting>
    <setting id="homemenuitemradio" type="string"></setting>
    <setting id="homemenugames" type="string"></setting>
    <setting id="weatherfanart.path" type="string"></setting>
    <setting id="home_custom_back_picture_onlyone" type="string"></setting>
    <setting id="weatherfanart.ext" type="string"></setting>
    <setting id="studiologos.name" type="string"></setting>
    <setting id="studiologos.ext" type="string"></setting>
    <setting id="moviegenreicons.name" type="string"></setting>
    <setting id="moviegenreicons.ext" type="string"></setting>
    <setting id="musicgenreicons.ext" type="string"></setting>
    <setting id="musicgenreicons.name" type="string"></setting>
    <setting id="Home_Music_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Music_Path" type="string"></setting>
    <setting id="Home_Video_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Video_Path" type="string"></setting>
    <setting id="Home_Movie_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Movie_Path" type="string"></setting>
    <setting id="Home_TVShow_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_TVShow_Path" type="string"></setting>
    <setting id="Home_MusicVideo_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_MusicVideo_Path" type="string"></setting>
    <setting id="widget_diashow_folder" type="string"></setting>
    <setting id="Home_Picture_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Picture_Path" type="string"></setting>
    <setting id="weathericons.path" type="string">resource://resource.images.weathericons.outline-hd/</setting>
    <setting id="weathericons.ext" type="string"></setting>
    <setting id="Home_Custom1_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom1_Path" type="string"></setting>
    <setting id="Home_Custom2_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom2_Path" type="string"></setting>
    <setting id="Home_Custom3_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom3_Path" type="string"></setting>
    <setting id="Home_Custom4_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom4_Path" type="string"></setting>
    <setting id="Home_Custom5_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom5_Path" type="string"></setting>
    <setting id="Home_Custom6_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom6_Path" type="string"></setting>
    <setting id="Home_Custom7_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom7_Path" type="string"></setting>
    <setting id="Home_Custom8_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom8_Path" type="string"></setting>
    <setting id="Home_Custom9_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Custom9_Path" type="string"></setting>
    <setting id="Widget_PVR_TV_WidgetChannels_Path" type="string"></setting>
    <setting id="Widget_PVR_Radio_WidgetChannels_Path" type="string"></setting>
    <setting id="Home_Games_Custom_Path" type="string"></setting>
    <setting id="HomeWidget_Games_Path" type="string"></setting>
    <setting id="Videopath_Dash_Name3" type="string"></setting>
    <setting id="Addonpath_Dash_Path3" type="string"></setting>
    <setting id="Videopath_Dash_Name2" type="string"></setting>
    <setting id="Addonpath_Dash_Path2" type="string"></setting>
    <setting id="Videopath_Dash_Name1" type="string"></setting>
    <setting id="Addonpath_Dash_Path1" type="string"></setting>
    <setting id="Videopath_Dash_Name" type="string"></setting>
    <setting id="Addonpath_Dash_Path" type="string"></setting>
    <setting id="addon_fav1" type="string"></setting>
    <setting id="addon_fav1_label" type="string"></setting>
    <setting id="addon_fav1_icon" type="string"></setting>
    <setting id="addon_fav2" type="string"></setting>
    <setting id="addon_fav2_label" type="string"></setting>
    <setting id="addon_fav2_icon" type="string"></setting>
    <setting id="addon_fav3" type="string"></setting>
    <setting id="addon_fav3_label" type="string"></setting>
    <setting id="addon_fav3_icon" type="string"></setting>
    <setting id="addon_fav4" type="string"></setting>
    <setting id="addon_fav4_label" type="string"></setting>
    <setting id="addon_fav4_icon" type="string"></setting>
    <setting id="addon_fav5" type="string"></setting>
    <setting id="addon_fav5_label" type="string"></setting>
    <setting id="addon_fav5_icon" type="string"></setting>
    <setting id="addon_fav6" type="string"></setting>
    <setting id="addon_fav6_label" type="string"></setting>
    <setting id="addon_fav6_icon" type="string"></setting>
    <setting id="addon_fav7" type="string"></setting>
    <setting id="addon_fav7_label" type="string"></setting>
    <setting id="addon_fav7_icon" type="string"></setting>
    <setting id="addon_fav8" type="string"></setting>
    <setting id="addon_fav8_label" type="string"></setting>
    <setting id="addon_fav8_icon" type="string"></setting>
    <setting id="addon_fav9" type="string"></setting>
    <setting id="addon_fav9_label" type="string"></setting>
    <setting id="addon_fav9_icon" type="string"></setting>
    <setting id="addon_fav10" type="string"></setting>
    <setting id="addon_fav10_label" type="string"></setting>
    <setting id="addon_fav10_icon" type="string"></setting>
    <setting id="Home_Music_Custom_Label" type="string"></setting>
    <setting id="user_bkg_music" type="string"></setting>
    <setting id="Home_Video_Custom_Label" type="string"></setting>
    <setting id="user_bkg_video" type="string"></setting>
    <setting id="Home_Movie_Custom_Label" type="string"></setting>
    <setting id="user_bkg_movie" type="string"></setting>
    <setting id="user_bkg_dashboard" type="string"></setting>
    <setting id="Home_TVShow_Custom_Label" type="string"></setting>
    <setting id="user_bkg_tvshow" type="string"></setting>
    <setting id="Home_MusicVideo_Custom_Label" type="string"></setting>
    <setting id="user_bkg_musicvideo" type="string"></setting>
    <setting id="Home_Picture_Custom_Label" type="string"></setting>
    <setting id="user_bkg_pictures" type="string"></setting>
    <setting id="user_bkg_weather" type="string"></setting>
    <setting id="user_bkg_dvd" type="string"></setting>
    <setting id="Home_Custom1_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom1" type="string"></setting>
    <setting id="Home_Custom2_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom2" type="string"></setting>
    <setting id="Home_Custom3_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom3" type="string"></setting>
    <setting id="Home_Custom4_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom4" type="string"></setting>
    <setting id="Home_Custom5_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom5" type="string"></setting>
    <setting id="Home_Custom6_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom6" type="string"></setting>
    <setting id="Home_Custom7_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom7" type="string"></setting>
    <setting id="Home_Custom8_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom8" type="string"></setting>
    <setting id="Home_Custom9_Custom_Label" type="string"></setting>
    <setting id="user_bkg_custom9" type="string"></setting>
    <setting id="user_bkg_settings" type="string"></setting>
    <setting id="user_bkg_pvr" type="string"></setting>
    <setting id="user_bkg_radio" type="string"></setting>
    <setting id="Home_Games_Custom_Label" type="string"></setting>
    <setting id="user_bkg_games" type="string"></setting>
    <setting id="homemenufocus" type="string"></setting>
    <setting id="hidehomemenu_timer" type="string"></setting>
</settings>
