<settings>
    <setting id="enable_debug_grid_overlay" type="bool">false</setting>
    <setting id="enable_debug_info" type="bool">false</setting>
    <setting id="disable_visualisation" type="bool">false</setting>
    <setting id="disable_background_video" type="bool">false</setting>
    <setting id="disable_fanart" type="bool">false</setting>
    <setting id="enable_custom_background_folder" type="bool">false</setting>
    <setting id="enable_custom_background" type="bool">false</setting>
    <setting id="disable_addons_home_icon" type="bool">false</setting>
    <setting id="disable_watched_overlay" type="bool">false</setting>
    <setting id="disable_music_video_library_home_icon" type="bool">false</setting>
    <setting id="disable_edge_filter" type="bool">false</setting>
    <setting id="disable_music_home_icon" type="bool">false</setting>
    <setting id="disable_pvr_home_icon" type="bool">false</setting>
    <setting id="disable_current_folder_section_widget" type="bool">false</setting>
    <setting id="disable_intro" type="bool">false</setting>
    <setting id="disable_icon_labels" type="bool">false</setting>
    <setting id="disable_clock_animation" type="bool">false</setting>
    <setting id="disable_movie_library_home_icon" type="bool">false</setting>
    <setting id="disable_play_dvd_home_icon" type="bool">false</setting>
    <setting id="disable_file_manager_home_icon" type="bool">false</setting>
    <setting id="disable_clock_second_hand" type="bool">false</setting>
    <setting id="enable.autoscroll" type="bool">false</setting>
    <setting id="enable_time_of_day_background" type="bool">true</setting>
    <setting id="disable_radio_home_icon" type="bool">false</setting>
    <setting id="disable_games_home_icon" type="bool">false</setting>
    <setting id="disable_videos_home_icon" type="bool">false</setting>
    <setting id="disable_visor" type="bool">false</setting>
    <setting id="disable_tv_library_home_icon" type="bool">false</setting>
    <setting id="enable_cerberus_background_effect" type="bool">true</setting>
    <setting id="disable_pictures_home_icon" type="bool">false</setting>
    <setting id="disable_favourites_home_icon" type="bool">false</setting>
    <setting id="disable_now_playing_widget" type="bool">false</setting>
    <setting id="disable_weather_home_icon" type="bool">false</setting>
    <setting id="custom_background" type="string"></setting>
    <setting id="custom_background_folder" type="string"></setting>
    <setting id="changed_1" type="string"></setting>
    <setting id="changed_2" type="string"></setting>
</settings>
